<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icon_057.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon_072.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/images/icon_512.png">
    <link rel="canonical" href="{{ site.url }}">
    <link rel="stylesheet" href="/css/main.css">
    <link href="http://feeds.feedburner.com/mhlopko"
      rel="alternate"
      title="Sitewide Feed"
      type="application/atom+xml" />
</head>
